body {
    background-color: black;
    color: magenta;
    max-width: 100%;
    font-family: "JetBrains Mono", monospace;
    font-size: small;
}
* {
    margin: 0;
    padding: 0;
}
main {
    height: 100%;
}
video {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}
img {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}
a {
  color: #00FFFF; 
}

